# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

# Environment
venv/
.env
.flaskenv

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS Files
.DS_Store
Thumbs.db

# Database and migrations
*.sqlite3
instance/
migrations/
*.db

# Logs
*.log

# Node (if using React frontend inside client/)
client/node_modules/
client/build/
